<% include ./partials/_header.ejs %>
<form action="/items/<%= item._id %>?_method=DELETE" method="POST" id="delete-form"></form>


<form method="POST" action="/items/<%= item._id %>%>?_method=PUT" id="itemForm">
    <div class="form-inputs">
        <h2>Add a new item to the store.</h2>
        <div class="form-group row">
            <label class="col-sm-2" for="brand">Brand</label>
            <div class="col-sm-10 input-wrapper">
                <input type="text" id="brand" name="brand" placeholder="Brand" value="<%= item.brand %>" />
            </div>
        </div> 
        <div class="form-group row">
            <label class="col-sm-2" for="sku">SKU</label>
            <div class="col-sm-10 input-wrapper">
                <input type="number" id="sku" name="sku" placeholder="SKU" value="<%= item.sku %>" />
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-sm-2" for ="description">Description</label>
            <div class="col-sm-10 input-wrapper">
                <input type="text" id="description" name="description" placeholder="Description" value="<%= item.description %>" />
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-sm-2" for="price">Price</label>
            <div class="col-sm-10 input-wrapper">
                <input type="number" id="price" name="price" step="any" placeholder="Price" value="<%= item.price %>" />
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-sm-2" for="category">Category</label>
            <div class="col-sm-10 input-wrapper">
                <select id="category" name="category" form="itemForm">
                    <option value="mens" <%= item.category === 'mens' ? 'selected' : null %>>Men's</option>
                    <option value="womens" <%= item.category === 'womens' ? 'selected' : null %>>Women's</option>
                    <option value="kids" <%= item.category === 'kids' ? 'selected' : null %>>Kid's</option>
                </select>
            </div>
        </div>
        <div class="form-group row"> 
            <label class="col-sm-2" for="img-url">Image URL</label>
            <div class="col-sm-10 input-wrapper">
                <input type="text" id="img-url" name="img_url" placeholder="Image URL" value="<%= item.img_url %>"/>
            </div>
        </div>
        <div class="input-wrapper-even">
            <button id="delete-item" class="btn btn-danger">Destroy</button>
            <script>
                const deleteBtn = document.getElementById('delete-item');
                const deleteForm = document.getElementById('delete-form');
                deleteBtn.addEventListener('click', e => {
                    e.preventDefault();
                    deleteForm.submit();
                });
            </script>
            <button id="create-item" class="btn btn-dark">Create</item>
            <script>
                const createBtn = document.getElementById('create-item');
                const createForm = document.getElementById('create-form');
                createBtn.addEventListener('click', e =>    {
                    e.preventDefault();
                    createForm.submit();
                });
            </script>
            <input class="btn btn-dark" type="submit" value="Update"/>
        </div>
    </div>
</form>
<% include ./partials/_footer.ejs %>